* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Cascadia Code';
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	/* flex-direction: column; */
	gap:25px;
}

.data {
	padding: 10px;
	display: flex;
	/* flex-direction: column; */
	gap: 3px;
	border: 2px solid black;
}
.function_container{display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5px;}