* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Cascadia Code';
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5px;
}

.data {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 3px;
	border: 2px solid black;
}

.products {
	display: flex;
	gap: 10px;
}

.product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.product > img {
	object-fit: cover;
	width: 100px;
	height: 100px;
}
